- speaker = page.speaker
.speaker
  .title
    %h3= speaker.title
    %h5
      %a{ :href => speaker.url, :target => "_new" }= speaker.name
  %a.pull-left{ :href => speaker.url, :target => "_new"}
    %img.gravatar{ :src => gravaturl(speaker.email) }
  %p.synopsis<
    = speaker.synopsis
    %br
    %br
    - speaker.links.each do |l|
      %a{ :href => l.url, :target => "_new" }= l.title